@container main (1920px > width >= 1600px) and (1080px > height >= 900px) {
  .element40 {
    .wrapper02 {
      width: calc(180px - 20px) !important;
      height: calc(180px - 20px) !important;
      .image01 {
        @include image2_1600;
      }
    }
  }

  .element41 {
    .wrapper02 {
      width: calc(180px - 20px) !important;
      height: calc(180px - 20px) !important;
      .image01 {
        @include image2_1600;
      }
    }
  }

  .element42 {
    .image01 {
      @include image2_1600;
    }
  }
}

@container main (1600px > width >= 1367px) and (900px > height >= 768px) {  
  .element40 {
    .wrapper01 {
      .wrapper02 {
        width: calc(140px - 20px) !important;
        height: calc(140px - 20px) !important;
        margin-top:15px !important;
        .image01 {
          @include image2_1366;
        }
      }
    }
  }
  
  .element41 {
    .wrapper01 {
      .wrapper02 {
        width: calc(140px - 20px) !important;
        height: calc(140px - 20px) !important;
        margin-top:15px !important;
        .image01 {
          @include image2_1366;
          left:-80px !important;
        }
      }
    }
  }
  
  .element42 {
    .wrapper01 {
      margin-top:15px !important;
      .image01 {
        @include image2_1366;
        left:-200px !important;
      }
    }
  }
}