@mixin image1_1600 {
  img {
    width: 75%;
    left: -3%;
    top: 20% !important;
    opacity:0.9;
  }
}

@mixin image3_1600 {
  img {
    width: 150% !important;
  }
}

@mixin image2_1600 {
  inline-size: 390px !important;
  block-size: 160px !important;
}

@mixin image4_1600 {
  img {
    position:absolute;
    height: 80% !important;
    left: -70% !important;
    bottom:-13% !important;
  }
}

// ----------------------

@mixin image1_1366 {
  img {
    left: -8% !important;
    top: 18% !important;
  }
}

@mixin image4_1366 {
  img {
    height: 70% !important;
    left: -55% !important;
    bottom:-11% !important;
  }
}

@mixin image3_1366 {
  img {
    width: 120% !important;
    left: -8% !important;
  }
}

@mixin image2_1366 {
  inline-size: 320px !important;
  block-size: 120px !important;
  img {
    height: 300% !important;
    top:-38% !important;
  }
}
