@import "theme";

#center0 {
  position: relative;
  .showCaseTitle {
    position: absolute;
    z-index: 10;
    left: 1.5vmin;
    top: 1.5vmin;
    h1 {
      @include title;
    }
    p {
      @include subtitle;
    }
  }

  &[data-mode="light"] {
    .showCaseTitle {
      h1 {
        @include title_dark;
      }
      p {
        color: rgb(39, 39, 44) !important;
      }
    }
  }

  &[data-mode="old"] {
    .showCaseTitle {
      width: calc(100% - 0.15cqi - 2px);
      left: 0.15cqi;
      top: 0.15cqi;
      h1 {
        @include title_old;
      }
    }
  }
}
