@import "theme";

#center0 {
  position: relative;
  .showCaseTitle {
    position: absolute;
    z-index: 10;
    left: 1.5vmin;
    top: 1.5vmin;
    h1 {
      @include title;
    }
    p {
      @include subtitle;
    }
  }

  &[data-mode="light"] {
    .showCaseTitle {
      h1 {
        @include title_dark;
      }
      p {
        color: rgb(39, 39, 44) !important;
      }
    }
  }

  &[data-mode="old"] {
    .showCaseTitle {
      width: calc(100% - 0.15vw - 2px);
      left: 0.15cqi;
      top: 0.15cqi;
      h1 {
        @include title_old;
      }
    }
  }
}

#oldShowCaseScreen {
  width: calc(100% - 0.15vw - 2px);
  height: calc(100% - 2.2ex - 20px - 0.15vw - 4px - 2px);
  z-index: 10px;
  position: absolute;
  top: calc(2.2ex + 20px + 0.15vw + 4px);
  left: 0.15vw;
  background: #000000;
  box-shadow: inset 0 0 0 1px #000;
}
