@import "theme";

#certificates {
  width:100%;
  height:100%;
  display:grid;
  gap:$gap;
  padding:$gap;
  grid-template-rows:auto 1fr;
  grid-template-columns:1fr;
  container: certificates / size;
  h1{
    @include title;
  }
  #certificatesWrapper {
    font-family: $font;
    color:rgb(211, 211, 216);
    margin:0;
    padding:0;
    overflow:auto;
    position:relative;
    .mySwiper {
      width:100%;
      height:100%;
      padding-bottom:20px;
      position:relative;
      .slide {
        height:100%;
      }
      >div:last-child {
        top: 90%;
        height: 10px;
        z-index:10;
        display:flex;
        justify-content:center;
        align-items:center;
        position:absolute;
        :global(.swiper-pagination-bullet) {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          border-radius: 50%;
          background-color:white;
        }
      }
    }
    
    .certifyBody {
      width:100%;
      height:100%;
      display:flex;
      flex-direction:column;
      align-items:center;
      // background-color:rgb(15,15,45);
      span {
        margin:0;
        padding:0;
        &:nth-child(1) {
          font-size:2.8ex;
          line-height:1.8ex;
          text-align:center;
        }
        &:nth-child(2) {
          margin-top:auto;
          font-size:2.2ex;
          color: rgb(143, 143, 146);
        }
        &:nth-child(3) {
          margin-top:0.5ex;
          font-size:2.3ex;
        }
      }
    }
  }
}