@import "theme";

#certificates {
  width:100%;
  height:100%;
  display:grid;
  gap:$gap;
  padding:$gap;
  grid-template-rows:auto 1fr;
  grid-template-columns:1fr;
  container: certificates / size;
  h1{
    @include title;
  }
  #certificatesWrapper {
    font-family: $font;
    color:rgb(211, 211, 216);
    font-size:3.5ex;
    margin:0;
    padding:0;
    line-height:2.5ex;
    overflow:auto;
    position:relative;
    .mySwiper {
      width:100%;
      height:100%;
      padding-bottom:20px;
      position:relative;
      .slide {
        height:100%;
        background-color:blue;
      }
      >div:last-child {
        top: 90%;
        height: 10px;
        z-index:10;
        display:flex;
        justify-content:center;
        align-items:center;
        position:absolute;
        :global(.swiper-pagination-bullet) {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          border-radius: 50%;
          background-color:white;
        }
      }
    }
    
    .certifyBody {
      width:100%;
      height:100%;
      display:flex;
      flex-direction:column;
      align-items:center;
    }
  }
}