@import "theme";

.main {
  width:100vw;
  height:100vh;
  container: main / size;
  background-color:black;
  position:relative;
  .wrapper {
    padding:$gap;
    width:100cqi;
    height:100cqb;
    position:relative;
    z-index: 10;
    display:grid;
    gap:$gap;
    grid-template-columns:150px 170px repeat(4, 1fr) 280px 120px;
    grid-template-rows:70px 1.2fr repeat(2, 1fr) 0.7fr 60px;
    grid-template-areas: 
      'h1000-00 h2000-00 h3000-00 h3000-00 h3000-00 h3000-00 h4000-00 h4000-00'
      'gt0l0-00 gt0l0-00 gt0l0-00 gt0l1-00 gt0l1-00 gt0l1-00 st0r0-00 st0r0-01'
      'gt1l0-00 gt1l0-00 gt1l0-00 c0000-00 c0000-00 c0000-00 st1r1-00 st0r0-01'
      'gt1l0-00 gt1l0-00 gt1l0-00 c0000-00 c0000-00 c0000-00 st1r1-00 st1r1-01'
      'gt1l0-00 gt1l0-00 gt1l0-00 c1000-00 c1000-00 c1000-00 gt2r0-00 gt2r0-00'
      'f0000-00 f0000-00 f0000-00 f0000-00 f0000-00 f0000-00 f0000-00 f0000-00';
    .slot {
      background-color: $slot_color;
      border:1px solid $border_color;
      border-radius:$border_radius;
      &[data-slot="h1000-00"] {
        grid-area:h1000-00;
        // background-color:red;
      }
      &[data-slot="h2000-00"] {
        grid-area:h2000-00;
        // background-color:blue;
      }
      &[data-slot="h3000-00"] {
        grid-area:h3000-00;
        // background-color:green;
      }
      &[data-slot="h4000-00"] {
        grid-area:h4000-00;
        // background-color:yellow;
      }
      &[data-slot="gt0l0-00"] {
        grid-area:gt0l0-00;
        // background-color:purple;
      }
      &[data-slot="gt1l0-00"] {
        grid-area:gt1l0-00;
        // background-color:orange;
      }
      &[data-slot="gt0l1-00"] {
        grid-area:gt0l1-00;
        // background-color: pink;
      }

      &[data-slot="st0r0-00"] {
        grid-area:st0r0-00;
        // background-color:hotpink;
      }

      &[data-slot="st0r0-00"] {
        grid-area:st0r0-00;
        // background-color:lightblue;
      }

      &[data-slot="f0000-00"] {
        grid-area:f0000-00;
        // background-color:grey;
      }

      &[data-slot="st0r0-01"] {
        grid-area:st0r0-01;
        // background-color: lightblue;
      }

      &[data-slot="st1r1-00"] {
        grid-area:st1r1-00;
        // background-color: lightgreen;
      }

      &[data-slot="st1r1-01"] {
        grid-area:st1r1-01;
        // background-color: lightgreen;
      }

      &[data-slot="c0000-00"] {
        grid-area:c0000-00;
        // background-color: papayawhip
      }

      &[data-slot="c1000-00"] {
        grid-area:c1000-00;
        // background-color: aquamarine;
      }

      &[data-slot="gt2r0-00"] {
        grid-area:gt2r0-00;
        // background-color: darkslategray;
      }

    }
    .lock {
      overflow:hidden;
    }
  }
 
}