@import "theme";

#shortAboutMe {
  width:100%;
  height:100%;
  display:grid;
  gap:$gap;
  padding:$gap;
  grid-template-rows:auto 1fr;
  grid-template-columns:1fr;
  align-items:center;
  h1{
    @include title;
  }
  p {
    font-family: $font;
    color:rgb(211, 211, 216);
    font-size:3.5ex;
    justify-self:center;
    text-align:center;
    margin:0;
    padding:0;
    line-height:2.5ex;
  }
}