@import "theme";

#skillCarousel,
#jobsCarousel {
  width: 100%;
  height: 100%;
  container: SkillCarousel / size;
  position: absolute;
  z-index: 10;
  .skillCarouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10cqi;
    width: 100cqi;
    height: 100cqb;
    position: relative;

    .skillCarouselCurrentSlide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100cqi;
      height: 100cqb;
    }

    .skillCarouselSwiper {
      width: 100cqi;
      overflow: hidden;
      margin-inline: 10cqi;
      height: calc(100cqb - 20cqi);
      .skillCarouselSwiperSlide {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &[data-mode="light"] {
    .skillIcon {
      background-color: rgb(255, 255, 255, 0.5);
      &.notSelected {
        transition: filter 50ms ease-in-out;
        filter: saturate(0) brightness(0.7);
      }
    }
  }

  &[data-mode="old"] {
    background-color: #f0f0f0;
    &::after {
      height: 100%;
      width: 2px;
      content: "";
      background-color: gray;
      left: 0;
      top: 0;
      position: absolute;
    }
    &#skillCarousel {
      width: calc(100% - 2px);
      height: calc(100% - 2.3ex - 10px - 0.15vw - 1vh - 4px);
      margin-top: calc(2.3ex + 10px + 0.15vw + 1vh + 2px);
    }
    &#jobsCarousel {
      width: calc(100% - 2px);
      margin-top: 2px;
      height: calc(100% - 4px);
      box-shadow: -$gap 0 0 0 #f0f0f0;
      &::after {
        left: -$gap;
      }
    }
    // .skillIcon {
    //   background-color: rgb(230, 230, 230, 1);
    //   border-radius: 0;
    //   box-shadow: 4px 4px 0 0 rgb(39, 39, 44, 0.7);
    //   &.notSelected {
    //     transition: filter 50ms ease-in-out;
    //     filter: saturate(0);
    //   }
    //   &.selected {
    //     filter: saturate(1.2);
    //   }
    // }
  }
}

#skillSlides,
#jobsSlides {
  width: 100%;
  height: 100%;
  container: SkillSlides / size;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  padding: 1.5vmin;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  h1 {
    @include title;
  }
  h2 {
    margin-block: 5px !important;
    @include title2;
  }
  p {
    @include paragraph;
  }
  .slidesContainer {
    height: 100%;
    .slidesWrapper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .skillCarouselSlide {
        position: absolute;
        top: 0;
        left: 0;
        padding-right: $gap;
        height: 100%;
        opacity: 1;
        &.jobCarouselSlide {
          height: calc(100% - 3cqb - 10px);
          overflow: auto;
        }
        &::-webkit-scrollbar {
          width: 0.4rem;
          height: 0.4rem;
          background-color: #1f1f1f;
          border-radius: 100px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 100px;
          background-color: #5c5c5c;
          position: relative;
        }
        &:not(.next) {
          &.vanish {
            transition: opacity 300ms ease-in-out;
            opacity: 0;
          }
        }

        &.next {
          transform: translateX(100%);
          &.show {
            transition: transform 300ms ease-in-out;
            transform: translateX(0);
          }
        }

        h2 {
          margin-bottom: 13px;
        }
      }
    }
  }
  &[data-mode="light"] {
    h1 {
      @include title_dark;
    }
    h2 {
      @include title2_dark;
    }
    p {
      color: rgb(39, 39, 44) !important;
    }
    .skillCarouselSlide {
      &::-webkit-scrollbar {
        background-color: #929292;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #b8b8b8;
      }
    }
  }
  &[data-mode="old"] {
    padding: 0.15vw 2px 0.15vw 0.15vw;
    gap: 0;
    h1 {
      @include title_old;
    }
    h2 {
      @include title2_dark;
      font-family: "Tahoma";
      letter-spacing: 2px;
      margin-top: 0 !important;
    }
    p {
      color: rgb(39, 39, 44) !important;
      font-family: "Tahoma";
    }
    &#skillSlides {
      width: calc(100% + 120px + $gap);
      .slidesContainer {
        width: calc(100% - 120px - $gap);
        margin-left: 10px;
      }
    }
    &#jobsSlides {
      .slidesContainer {
        width: calc(100% - 20px);
        margin-left: 10px;
      }
    }
    .skillCarouselSlide {
      &.jobCarouselSlide {
        height: calc(100% - 4cqb - 20px) !important;
        overflow: auto;
      }
      &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        background-color: #929292;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 1px 1px 1px #868686,
          inset -1px -1px 1px #dfdfdf;
        background-color: #b8b8b8;
        position: relative;
      }
    }
  }
}

.skillIcon {
  width: 54.3cqi;
  aspect-ratio: 1/1;
  border-radius: 15px;
  display: grid;
  place-items: center;
  background-color: rgb(0, 0, 0, 0.3);
  &.selected {
    transition: filter 200ms ease-in-out;
    filter: saturate(1);
  }
  &.notSelected {
    transition: filter 50ms ease-in-out;
    filter: saturate(0) brightness(0.5);
  }
  svg {
    width: 70%;
    height: 70%;
  }
  img {
    border-radius: 10px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap; /* Previene que los elementos colapsen en varias líneas */
  }

  &[data-mode="old"] {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    svg {
      width: 45%;
      height: 45%;
      transform: translateX(-30%) translateY(10%);
      z-index: 2;
    }
    img {
      border-radius: 0;
      &:first-child {
        z-index: 0;
        opacity: 0.9;
        position: absolute;
        width: calc(100%);
        height: calc(100%);
        filter: contrast(1.2) saturate(1.5)
          drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
      }
      &:last-child {
        position: absolute;
        left: 50%;
        top: calc(50% + 2px);
        border-radius: 100px;
        transform: translateY(-50%) translateX(-50%);
        width: 45%;
        height: 45%;
        z-index: 2;
      }
    }
  }
}

#skillBar {
  position: absolute;
  bottom: 1cqi;
  left: 1.5vmin;
  width: calc(100% - 3cqb);
  height: 1cqb;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.4cqb;
  grid-template-rows: 1fr;
  .milestone {
    border: 1px solid rgba(240, 240, 250, 0.2);
    border-radius: 3px;
    transition: all 0.2s ease-in-out, background-color var(--delay) ease-in-out;
    &.active {
      background-color: var(--color);
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &.isEleven {
    .milestone {
      box-shadow: 0 0 5px 3px var(--shadow);
    }
  }
  &[data-mode="light"] {
    .milestone {
      border: 1px solid rgba(15, 15, 15, 0.3);
      &:not(.active) {
        background-color: rgb(15, 15, 15, 0.8);
      }
      &.active {
        background-color: var(--color);
      }
    }
  }
}

#jobTime {
  position: absolute;
  bottom: 0.5cqi;
  left: 1.5vmin;
  width: calc(100% - 3cqb);
  height: 3cqb;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "from fromDate to toDate";
  align-items: center;
  gap: 0.4cqb;
  color: white;
  font-family: $font;
  > div.title {
    font-size: 1.8ex;
    display: flex;
    align-items: center;
    justify-content: end;
    span {
      margin-right: 1ex;
      opacity: 0.5;
    }
  }
  > div:not(.title) {
    font-size: 2ex;
  }
  &[data-mode="light"] {
    color: rgb(39, 39, 44);
  }
  &[data-mode="old"] {
    color: rgb(39, 39, 44);
    font-family: "Tahoma";
    font-size: 1.8ex;
  }
}

#milenioJob,
#aldeaJob,
#ummJob,
#banregioJob,
#onephaseJob,
#masttroJob {
  span {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1ex;
  }
  ul {
    li {
      margin-bottom: 1ex;
      position: relative;
      list-style: none;
    }
  }
}

:export {
  IconWidth: 54.3;
}
