$slot_color: rgb(0, 0, 0, 0.3);
$border_color: rgb(58, 58, 59);
$gap: 1.5vmin;
$border_radius: 15px;
$font: "Inconsolata";
$fontSizeTitle: 4ex;
$fontSizeTitle2: 3.3ex;
$fontSizeSubtitle: 2.5ex;
$fontSizeParagraph: 2.1ex;

// ? LIGHT MODE
$slot_color_light: rgb(255, 255, 255, 0.3);
$border_color_light: rgb(229, 229, 235);

// ? OLD MODe
$slot_color_old: #c5c5c5;
$border_color_old: transparent;

@mixin title {
  color: white;
  font-family: $font;
  font-size: $fontSizeTitle;
}

@mixin title_dark {
  color: black;
  font-family: $font;
  font-size: $fontSizeTitle;
}

@mixin title2_dark {
  color: black;
  font-family: $font;
  font-size: $fontSizeTitle2;
  font-weight: 500;
}

@mixin subtitle {
  color: rgb(170, 170, 190);
  font-family: $font;
  font-size: $fontSizeSubtitle;
}

@mixin title2 {
  color: white;
  font-family: $font;
  font-size: $fontSizeTitle2;
  font-weight: 500;
}

@mixin paragraph {
  color: rgb(170, 170, 190);
  font-family: $font;
  font-size: $fontSizeParagraph;
}

@mixin helperText {
  color: rgb(170, 170, 190);
  font-family: $font;
  font-size: 1.5ex;
}

@mixin title_old {
  margin-bottom: 1vh;
  font-size: 2.2ex;
  font-weight: 500;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS";
  position: relative;
  background-color: #02007b;
  line-height: 2ex;
  background-image: linear-gradient(to right, #4b3fe8, #5ab4d1);
  &::before {
    content: "";
    width: calc(1.8ex + 10px);
    aspect-ratio: 1 / 1;
    background: #cccccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: grid;
    place-items: center;
    line-height: 0;
    box-shadow: 2px 2px 0 0px #292929;
  }
  &::after {
    content: "x";
    font-family: "DotGothic16";
    display: grid;
    width: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 1.33ex;
    font-weight: 500;
    right: calc(10px + 0.45ex);
    line-height: 0;
    color: black;
    font-size: 2.5ex;
  }
}
