* {
    user-select: none;
}

@mixin subblock_1_1_left {
    &:first-child {
        width:70%;
        margin-left:2vw;
        height:100%;
        position: relative;
        #bigLogo {
            width:15vw;
            height:15vw;
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            right:2vw;
            opacity:0.02;
            img {
                width:100%;
                height:100%;
            }
        }
        .name {
            font-family: 'Montserrat Alternates';
            font-size:1em;
            color:rgb(180, 180, 180);
            margin-bottom:1vh;
            margin-top:5vh;
            display:inline-block;
        }
        .reductoRow {
            display:flex;
            .reductoLogo {
                height:6em;
                width:6em;
                margin-right:1vw;
                img {
                    width:100%;
                    height:100%;
                }
            }
        }
        .reducto {
            font-family: 'Monoton';
            color:white;
            font-size:6em;
            line-height:1em;
        }
        .description {
            font-family: 'Cairo';
            font-size:1em;
            display:inline-block;
            color:rgb(180, 180, 180);
            margin-top:1.5vh;
            margin-bottom:1vh;
            width:40%;
            line-height:1vw;
        }
        .actions {
            display:flex;
            margin-top:2vh;
            div {
                height:4vh;
                border-radius:100pt;
                cursor: pointer !important;
                &#explore {
                    width:8vw;
                    background: radial-gradient(circle at calc(2px + 2vh) 2vh, transparent calc(2vh - 4px), rgba(74, 74, 92, 0.7) calc(2vh - 3px));
                    backdrop-filter: blur(2px);
                    display:flex;
                    align-items:center;
                    .icon {
                        width:calc(4vh - 5px);
                        height:calc(4vh - 5px);
                        margin-left:5px;
                        background-color:transparent;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        svg {
                            width:80%;
                            height:80%;
                            fill:white;
                        }
                    }
                    span {
                        font-family: 'Cairo';
                        font-size:0.9em;
                        color:white;
                        margin-left:1.1vh;
                        position: relative;
                        top:-1px;
                    }
                }
                &#linkedin {
                    width:4vh;
                    margin-left:1vh;
                    background:rgb(40,40,50,0.8);
                    border: 1px solid rgb(40,40,50,0.5 );
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    svg {
                        width:2.3vh;
                        height:2.3vh;
                        fill:rgb(255, 255, 255,0.5);
                    }
                }
                &#customers {
                    width:10vw;
                    margin-left:1vh;
                    background:rgb(40,40,50,0.8);
                    border: 1px solid rgb(40,40,50,0.5 );
                    display:flex;
                    align-items:center;
                    div {
                        width:calc(4vh - 5px);
                        height:calc(4vh - 5px);
                        border-radius:100pt;
                        overflow: hidden;
                        &:first-child {
                            margin-left:3px;
                        }
                        &:not(:first-child) {
                            position:relative;
                            margin-left:-2vh;
                        }
                        img {
                            width:100%;
                            height:100%;
                        }
                    }
                    span {
                        display:flex;
                        pointer-events:none;
                        flex-direction: column;
                        font-family: 'Montserrat Alternates';
                        font-size:0.8em;
                        color:white;
                        margin-left:1vh;
                        position: relative;
                        line-height:1em;
                        top:-1px;
                        label:first-child {
                            margin-top:0.5vh;
                            font-weight:bold;
                        }
                        label:last-child {
                            opacity:0.5;
                        }
                    }
                }
            }
        }
    }
}

@mixin subblock_1_1_right {
    &:last-child {
        width:30%;
        height:100%;
        display:flex;
        justify-content: flex-end;
        .line {
            width:0.7vh;
            height:100%;
            margin-right:0.5vh;
            &:last-child {
                margin-right:3vw; // 2vw
            }
        }
    }
}

@mixin subblock_1_2 {
    #block1_2 {
        width:5%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        margin-left:1vw;
        backdrop-filter: blur(2px);
        .icon {
            width:1.2vw;
            height:1.2vw;
            svg {
                width:100%;
                height:100%;
                fill:white;
            }
        }
        #joinIcon {
            margin-top:-0.5vw;
            margin-bottom:0.5vw;
            background-color:transparent;
        }
        .joinMessage {
            display:inline-block;
            writing-mode: vertical-lr;
            rotate:180deg;
            font-family: 'Gabarito';
            color:white;
            font-size:1.2em;
            margin-bottom:1vw;
            &~.icon {
                margin-top:0.5vw;
            }
        }
    }
}

@mixin subblock_2_2 {
    #block2_2 {
        flex-grow:0.5;
        width: 50%;
        margin-left:1vw;
        background-color:rgba(119, 204, 207, 0.8);
        position: relative;
        display:flex;
        flex-direction:column;
        $cornerBorder: 3px;
        $cornerRadius: 22px;
        $cornerColor: rgb(255, 255, 255,  0.2);
        .frameCorner {
            position: absolute;
            width:1.3vw;
            height:1.3vw;
            &:nth-child(1) {
                left:1vh;
                top:1vh;
                border-radius:$cornerRadius 0 0 0;
                border-top:4px solid $cornerColor;
                border-left:4px solid $cornerColor;
            }
            &:nth-child(2) {
                right:1vh;
                top:1vh;
                border-radius:0 $cornerRadius 0 0;
                border-top:$cornerBorder solid $cornerColor;
                border-right:$cornerBorder solid $cornerColor;
            }
            &:nth-child(3) {
                right:1vh;
                bottom:1vh;
                border-radius:0 0 $cornerRadius 0;
                border-bottom:$cornerBorder solid $cornerColor;
                border-right:$cornerBorder solid $cornerColor
            }
            &:nth-child(4) {
                left:1vh;
                bottom:1vh;
                border-radius:0 0 0 $cornerRadius;
                border-bottom:$cornerBorder solid $cornerColor;
                border-left:$cornerBorder solid $cornerColor
            }
        }
        .subRow {
            display:flex;
            margin-left:2vw;
            &#subRow1 {
                margin-top:2vw;
                margin-bottom:auto;
                .egg {
                    display:inline-block;
                    width:2.5vw;
                    height:3.8vw;
                    margin-right:0.5vw;
                    border-radius:30px;
                    &#slide {
                        width: calc(2.5vw - 4px);
                        height: calc(3.8vw - 4px);
                        background-color:rgba(255, 255, 255, 0.08);
                        backdrop-filter: blur(4px);
                        border:2px solid rgba(255, 255, 255, 0.459);
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        span {
                            font-family: 'Inter';
                            font-size:0.7em;
                            letter-spacing:-1px;
                            color:rgb(240, 240, 240);
                        }
                    }
                    &#mii {
                        overflow: hidden;
                        display:flex;
                        justify-content:center;
                        img {
                            height:100%;
                        }
                    }
                }
                #slideTitle {
                    height:2vw;
                    background: rgb(216, 216, 216);
                    border-radius:30px;
                    padding-left:1vw;
                    padding-right:1vw;
                    display:flex;
                    align-items:center;
                    margin-left:auto;
                    margin-right:2vw;
                    span {
                        font-family: 'Inter';
                        font-size:1em;
                        font-weight:bold;
                        letter-spacing:-1px;
                    }
                }
            }
            &#subRow2 {
                margin-bottom:2vw;
                display:flex;
                flex-direction:row;
                align-items:flex-end;
                justify-content:space-between;
                span {
                    display:inline-block;
                    width:60%;
                    font-family: 'Inter';
                    font-size:1.1em;
                    line-height:1.4em;
                    color:rgb(240, 240, 240);
                    margin-right:1vw;
                    &:last-child {
                        margin-right:0;
                    }
                }
                #nextSlide {
                    width:1.7vw;
                    height:1.7vw;
                    margin-right:2vw;
                    cursor: pointer !important;
                    svg {
                        width:100%;
                        height:100%;
                        fill:rgb(200, 200, 200);
                    }
                }
            }
        }
        // backdrop-filter: blur(2px);
        // box-shadow:0 0 4px 0 rgba(255, 255, 255, 0.3);
    }
}

#grid {
    width:100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background-color:rgb(5, 5, 5);
    #page {
        width:100vw;
        height: 100vh;
        position: absolute;
        left:0;
        bottom:0;
        z-index:2;
        #header {
            margin-top:1vh;
            height:8vh;
            width:100vw;
            display:flex;
            align-items:center;
            #logo {
                width:6vh;
                height:6vh;
                margin-left:2.5vw;
                img {
                    width:100%;
                    height:100%;
                }
            }
        }
        #body {
            height:100vh;
            width:100vw;
            display:flex;
            flex-direction:column;
            .row {
                width:calc(100vw - 5vw);
                margin-left:2.5vw;
                display:flex;
                flex-direction:row;
            }
            .block {
                height:100%;
                border-radius:30px;
            }
            #row1 {
                height: 50%;
                margin-top:1vw;
                #block1_1 {
                    width:95%;
                    background-color:rgba(255, 255, 255, 0.08);
                    backdrop-filter: blur(3px); // 4px
                    display:flex;
                    .subBlock {
                        @include subblock_1_1_left;
                        @include subblock_1_1_right;
                    }
                }
                @include subblock_1_2;
            }
            #row2 {
                height:30%;
                margin-top:1vw;
                #block2_1 {
                    flex-grow:0.5;
                    width:50%;
                    background-color:transparent;
                }
                @include subblock_2_2;
                
            }
            #row3 {
                height:20%;
                margin-top:1vw;
                margin-bottom:2vw;
                #block3_1 {
                    flex-grow:0.5;
                    position: relative;
                    .fluid {
                        position:absolute;
                        left:100%;
                        width:1vw;
                        height:1.5vh;
                        &#fluid1{
                            top:calc(100% - 40px);
                        }
                        &#fluid2{
                            top:calc(100% - 40px - 1.5vh);
                        }
                    }
                }
                #block3_2 {
                    flex-grow:0.5;
                    border-radius:0 !important;
                    margin-left:1vw;
                    background-color:transparent;
                    display:flex;
                    flex-direction:column;
                    .subBlock {
                        flex-grow:0.5;
                        background-color:rgba(255, 255, 255, 0.08);
                        backdrop-filter: blur(4px);
                        border-radius:20px;
                        border:3px solid transparent;
                        &:first-child{
                            margin-bottom:0.5vw;
                        }
                    }
                }
            }
        }
    }
    #backgroundContainer{
        width:100vw;
        height: 100vh;
        position: absolute;
        left:0;
        bottom:0;
        z-index:1;
        .images {
            width:8vw;
            position: absolute;
            z-index:10;
            right:5vw;
            .imageContainer {
                display: inline-block;
                position:relative;
                width:8vw;
                height:8vw;
                canvas {
                    width:100%;
                    height:100%;
                    border-radius:5px;
                }
                &:first-child {
                    margin-top:3vw;
                    margin-bottom: 1vw;
                }
            }
            height: 100vh;
            display:flex;
            flex-direction:column;
        }
        #background {
            height: 100vh;
            width:100vw;
            z-index: 0;
            left:0;
            top:0;
            position: absolute;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
                filter: blur(10px) brightness(0.6);
                opacity:0.05;
            }
        }
        #render {
            height: 100vh;
            width:100vw;
            border-radius:10px;
            background:rgba(0, 0, 0, 0.26);
            position: absolute;
            overflow: hidden;
            left:0;
            top:0;
            z-index:1;
            >canvas {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
   
}