#forest {
    width:100vw;
    height:100vh;
    background-color:rgb(50,50,50);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
    background-blend-mode:multiply;
}