.page {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    //padding-left:10vw;
    justify-content:center;
    background-color:rgb(220,220,230);
}
.link {
    font-family: 'Poppins';
    font-size:2em;
    text-decoration:none;
}
.pageDivider {
    width:100%;
    height:1px;
    margin-top:2vh;
    margin-bottom:2vh;
}