$width: 16vw;
$height: 4vw;

.searchBar {
    width:$height;
    height:$height;
    background:rgba(34,37,39,255);
    position: relative;
    .caret {
        width: 2px;
        height: $height;
        background: rgba(1,244,214,255);
        position: absolute;
        left:0;
        top:0;
    }
}