$main_color: rgba(140,61,218,1);
$width: 16vw;
$height: 5vw;
$difference: 8px;

$max_width: 20vw;
$icon: 2.5vw;

.susbcribeButton {
    width:$width;
    height:$height;
    background:white;
    border-radius:30px;
    position: relative;
    transition:all 0.5s cubic-bezier(.46,-0.8,.52,.63);
    
    .solid {
        width: calc($width - $difference);
        height: calc($height - $difference);
        position: absolute;
        right:calc($difference / 2);
        top:calc($difference / 2);
        border-radius:25px;
        background-color: $main_color;
        transition:all 0.4s cubic-bezier(.47,.04,.39,1.04);
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        span {
            font-family: 'Poppins', sans-serif;
            color:white;
            letter-spacing:7px;
            font-size: 1.4rem;
            font-weight:500;
            transition:all 0.2s linear;
            pointer-events:none;
            &.text2 {
                opacity:0;
                display:none;
            }
        }
        .iconContainer {
            width:0;
            overflow: hidden;
            height:$icon;
            opacity:0;
            transition:opacity 200ms linear 250ms;
            position:relative;
            display:flex;
            align-items:center;
            justify-content:center;
            .arrow {
                width:2vw;
                height:4px;
                background:white;
                border-radius:3px;
                position: relative;
                .arrowAngle {
                    width:50%;
                    height:100%;
                    right: 0;
                    background:white;
                    position: absolute;
                    border-radius:inherit;
                    transform:rotate(0);
                    transition:all 0.2s cubic-bezier(.58,.1,.68,2);
                    &.arrowAngleUp {
                        transform-origin:calc(100%) calc(50% + 4px);
                    }
                    &.arrowAngleDown {
                        transform-origin:calc(100%) calc(50% - 4px);
                    }
                }
            }
        }
    }
    .input {
        height:100%;
        padding:0;
        width:calc(100% - $height - ($difference));
        position: absolute;
        left: calc($difference / 2);
        border:0;
        outline:0;
        border-radius:25px;
        font-size: 1.45rem;
        font-family: 'Poppins', sans-serif;
        text-indent: 0.75vw;
        color: rgba(11,11,11,1);
        opacity: 0;
        pointer-events: none;
        transition:all 0.3s linear;
        &::placeholder {
            color: rgba(225,204,245,1);
            font-weight:500;
            font-size: 1.5rem;
        }
    }
    &.invisibleText {
        .solid {
            span {
                opacity: 0;
            }
        }
    }
    &.hideText {
        .solid {
            span {
                display: none;
            }
        }
    }
    &.big {
        width:$max_width;
        .solid {
            width:calc($height - $difference);
            height:calc($height - $difference);

        }
    }
    &.showIcon {
        .solid {
            .iconContainer {
                width:$icon;
                opacity: 1;
            }
        }
    }
    &.showInput {
        .input {
            opacity: 1;
            pointer-events: all;
        }
    }
    &.showArrowAngles {
        .solid {
            .arrowAngle {
                &.arrowAngleUp {
                    transform:rotate(45deg);
                }
                &.arrowAngleDown {
                    transform:rotate(-45deg);
                }
            }
        }
    }
    &.showText2 {
        .solid {
            span.text2 {
                display: block;
            }
        }
    }
    &.visibleText2 {
        .solid {
            span.text2 {
                opacity: 1;
            }
        }
    }
}

.clickAnimation {
    position:absolute;
    width: 0;
    height: 0;
    z-index:1000;
    pointer-events: none;
    border-radius:100px;
    opacity:0;
    border:10px solid white;
    transition:opacity 0.2s linear;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    &.showEffect {
        opacity:1;
    }
    &.propagate {
        animation: grow 0.2s linear forwards;
    }
}

@keyframes grow {
    0% {
        opacity:1;
        width: 0;
        height: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
        width: 100px;
        height: 100px;
    }
}