@container main (width <= 1400px) {
  .element11 {
    background-color:black !important;
    .overflowWrapper01 {
      display: none !important;
    }
  }
}

@container main (height <= 1000px ) {
  @each $element in 10 11 12 13 {
    .element#{$element} {
      .image00 {
        @include image_1000;
      }
    }
  }
}

@container main (height <= 930px) {
  @each $element in 10 11 12 13 {
    .element#{$element} {
      .image00 {
        @include image_930;
      }
    }
  }
}

@container main (width <= 870px) {
  .element13 {
    .wrapper01 {
      width: calc(100% - 10px) !important;
      height: calc(100% - 10px) !important;
      .image00 {
        left:0 !important;
        bottom:0 !important;
      }
    }
  }
  .element11 {
    .wrapper01 {
      width: calc(100%) !important;
      height: calc(100% - 10px) !important;
      .wrapper02 {
        width: calc(100% - 20px) !important;
        height: calc(100%) !important;
      }
    }
  }
  .element12 {
    .wrapper01 {
      .image00 {
        left:0 !important;
        top:0 !important;
      }
    }
  }

  @each $element in 10 11 12 13 {
    .element#{$element} {
      .image00 {
        @include image_870;
      }
    }
  }
}