@container main (870px < width <= 1400px) {
  .element20 {
    background-color:transparent !important;
    position:absolute;
    width:150px;
    height: calc(50cqb - 60px - 20px);
    bottom: calc(60px + 20px);
    z-index:99999;
    right:-150px;
    transition:right 0.2s ease-in-out;
    &.show {
      right:0;
    }
  }
}

@container main (width <= 870px) {
  .element20 {
    height: 100% !important;
    .wrapper01 {
      width: calc(100% - 10px) !important;
      justify-content:center !important;
      border-radius:20px !important;
      background:transparent !important;
    }
    .wrapper02 {
      width: calc(100%) !important;
      height: 100% !important;
      border-radius:20px !important;
      overflow: hidden;
    }
  }
}