@container main (width <= 1600px) {
  #wrapper {
    grid-template-columns: 6cqi 7cqi 9cqi 13cqi 1fr 1fr 9cqi !important;
  }
}

@container main (870px < width <= 1400px) {
  #wrapper {
    grid-template-columns: 6cqi 7cqi 9cqi 13cqi 1fr 1fr !important;
  }
}

@media (width <= 870px) {
  #main {
    height: 100lvh !important;
    min-width:unset !important;
    min-height:unset !important;
  }
}

@container main (width <= 870px) {
  #wrapper {
    grid-template-columns: 0.7fr 0.8fr repeat(2, 1fr) 0.5fr 1.5fr !important;
    grid-template-columns: 1.2fr 0.8fr repeat(2, 1fr) 0.8fr 1.2fr !important;
    grid-template-rows: 70px 75px 1fr 50px 1fr 1fr 180px 60px 10px !important;

    grid-template-areas: "hd00 hd00 hd00 hd00 hd00 hd00"
                         "el01 el01 el01 el01 el01 el01"
                         "el01 el01 el01 el01 el01 el01"
                         "el00 el00 el00 el00 el00 el00"
                         "el12 el12 el12 el11 el11 el11"
                         "el13 el13 el13 el11 el11 el11"
                         "el30 el40 el41 el42 el42 el20"
                         "fo00 fo00 fo00 fo00 fo00 fo00"
                         "gp00 gp00 gp00 gp00 gp00 gp00" !important;

    .toggler {
      display: none !important;
    }
  }
}