$paddingLeft: 10cqi;
$paddingTop: 5cqi;
$halfPaddingLeft: calc($paddingLeft / 2);
$halfPaddingTop: calc($paddingTop / 2);

$wideCenterW: 70cqi;
$wideCenterH: 60cqb;
$wideCenterL: $paddingLeft;
$wideCenterT: $paddingTop;

$bottomHalfW: 50cqi;
$bottomHalfH: calc(100cqb - $wideCenterH - $paddingTop * 2);
$bottomHalfL: calc($wideCenterW - $bottomHalfW + $paddingLeft);
$bottomHalfB: $paddingTop;

$rightHalfW: calc(100cqi - $wideCenterW - $paddingLeft * 2);
$rightHalfH: calc($wideCenterH - $paddingTop);
$rightHalfR: $paddingLeft;
$rightHalfB: calc($bottomHalfH + $paddingTop);

$leftBottomW: calc($wideCenterW - $bottomHalfW);
$leftBottomH: $bottomHalfH;
$leftBottomL: $paddingLeft;
$leftBottomB: $paddingTop;

$rightBottomW: calc($rightHalfW + $halfPaddingLeft);
$rightBottomH: calc($bottomHalfH + $halfPaddingTop);
$rightBottomR: $halfPaddingLeft;
$rightBottomB: $halfPaddingTop;

$rightTopW: calc($rightHalfW + $halfPaddingLeft);
$rightTopH: calc($wideCenterH - $rightHalfH + $halfPaddingTop);
$rightTopR: $halfPaddingLeft;
$rightTopT: $halfPaddingTop;

$imageWidth: calc(100cqi - $paddingLeft * 2);
$imageHeight: calc(100cqb - $paddingTop * 2);

$bhImageL: calc(-1 * $leftBottomW);
$bhImageT: calc(-1 * $wideCenterH);

$rhImageL: calc(-1 * $wideCenterW);
$rhImageT: calc(-1 * $paddingTop);

$background: rgb(12,14,16);
$background: rgb(5,5,5);

#main {
  width: 100vw;
  height:100vh;
  min-width: 1200px;
  min-height: 920px;
  background-color:$background;
  position:relative;
  container:main / size;

  #hero {
    width: 100cqi;
    height: 100cqb;
    position:relative;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter:contrast(1.2) brightness(0.8) saturate(1.2);
    }
    .wideCenter {
      width: $wideCenterW;
      height: $wideCenterH;
      left: $wideCenterL;
      top: $wideCenterT;
      // background-color:rgb(33, 33, 33);
      position:absolute;
      overflow: hidden;
      border-radius:40px 40px 0 40px;
      container: wideCenter / block-size;
      .image {
        position:absolute;
        width: $imageWidth;
        height: $imageHeight;
        left:0;
        top:0;
        z-index:100;
      }
      #wideCenterContent {
        width: calc($leftBottomW - 1.5cqi);
        height: calc($wideCenterH - 5cqb);
        left: 2.5cqb;
        top: 2.5cqb;
        position:absolute;
        z-index:100;
        border-radius:30px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        .blurContent {
          width: 100%;
          border-radius:30px;
          // background-color:rgb(12,14,16,0.8);
          background-color:rgba(255,255,255,0.02);
          backdrop-filter: blur(20px);
          &:nth-child(1) {
            height:calc(60% - 0.75vw);
          };
          &:nth-child(2) {
            height:calc(40% - 0.75vw);
          };
        }
      }
    }
    .bottomHalf {
      width: $bottomHalfW;
      height: $bottomHalfH;
      left: $bottomHalfL;
      bottom: $bottomHalfB;
      // background-color:rgb(27, 27, 27);
      position:absolute;
      overflow: hidden;
      border-radius:0 0 40px 40px;
      .image {
        position:absolute;
        width: $imageWidth;
        height: $imageHeight;
        left:$bhImageL;
        top:$bhImageT;
        z-index:100;
      }
    }
    .rightHalf {
      width: $rightHalfW;
      height: $rightHalfH;
      right: $rightHalfR;
      bottom: $rightHalfB;
      // background-color:rgb(62, 62, 62);
      position:absolute;
      overflow: hidden;
      border-radius:0 40px 40px 0;
      .image {
        position:absolute;
        width: $imageWidth;
        height: $imageHeight;
        left:$rhImageL;
        top:$rhImageT;
        z-index:100;
      }
    }

    .leftBottom {
      width: $leftBottomW;
      height: $leftBottomH;
      left: $leftBottomL;
      bottom: $leftBottomB;
      // background-color:rgb(43, 43, 43);
      position:absolute;
      overflow: hidden;
      .image {
        position:absolute;
        width: $imageWidth;
        height: $imageHeight;
        left:0;
        bottom:0;
        z-index:100;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index:100;
        background:$background;
        border-radius:0 40px 0 0;
      }
    }
    .rightBottom {
      width: $rightBottomW;
      height: $rightBottomH;
      right: $rightBottomR;
      bottom: $rightBottomB;
      // background-color:rgb(38, 38, 38);
      position:absolute;
      overflow: hidden;
      .image {
        position:absolute;
        width: $imageWidth;
        height: $imageHeight;
        right:$halfPaddingLeft;
        bottom:$halfPaddingTop;
        z-index:100;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index:100;
        background:$background;
        border-radius:40px 0 0 0;
      }
    }
    .rightTop {
      width: $rightTopW;
      height: $rightTopH;
      right: $rightTopR;
      top: $rightTopT;
      // background-color:rgb(72, 72, 72);
      position:absolute;
      overflow: hidden;
      .image {
        position:absolute;
        width: $imageWidth;
        height: $imageHeight;
        right:$halfPaddingLeft;
        top:$halfPaddingTop;
        z-index:100;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index:100;
        background:$background;
        border-radius:0 0 0 60px;
      }
    }
  }

  #header {
    width: calc(100cqi - $paddingLeft * 2);
    height: $paddingTop;
    // background-color:#ABCA;
    position:absolute;
    top:0;
    left:$paddingLeft;
    z-index:10000;
    display:flex;
    align-items:center;
    justify-content:center;
    container:header / size;
    span {
      cursor:pointer;
      font-family:"Inter";
      color:white;
      font-size:17cqb;
      margin-inline-start:5cqi;
      margin-inline-end:5cqi;
    }
  }
  #footer {
    width: $wideCenterW;
    height: $paddingTop;
    // background-color:#ABCA;
    position:absolute;
    bottom:0;
    left:$paddingLeft;
    z-index:10000;
  }
  #sidebar {
    width: $paddingLeft;
    height: $wideCenterH;
    // background-color:#ABCA;
    position:absolute;
    top:$paddingTop;
    left:0;
    z-index:10000;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:end;
    container: sidebar / size;
    row-gap: 2cqb;
    span {
      color:white;
    }
    .sidebarSocial {
      width: 25cqi;
      height: 25cqi;
      border-radius:10ex;
      background:white;
      display:grid;
      place-items:center;
      container:sidebarSocial / size;
      svg {
        width:50cqi;
        height:50cqi;
      }
    }
  }
  #sidebarRight {
    width: $paddingLeft;
    height: $wideCenterH;
    // background-color:#ABCA;
    position:absolute;
    top:$paddingTop;
    right:0;
    z-index:10000;
  }
  #miniVideo {
    inline-size: calc($rightBottomW);
    block-size: calc($rightBottomH);
    position:absolute;
    bottom:calc($rightBottomB - 1cqi);
    right:calc($rightBottomR - 1cqi);
    z-index:10000;
    // background:#ABF;
    container:miniVide / size;
    border-radius:40px;
    overflow: hidden;
    .shadow {
      width: 100%;
      height: 100%;
      position:absolute;
      background:rgba(0,0,0,0.45);
      z-index:1000;
      container:miniVideoShadow / size;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
      .playButton {
        width: 28cqi;
        height: 28cqi;
        border-radius:100cqi;
        position:absolute;
        left: calc(50% - 14cqi);
        top: calc(50% - 14cqi);
        background-color:rgba(0,0,0,0.1);
        border:1px solid rgba(255, 255, 255, 0.8);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        container:playButton / size;
        svg {
          width: 40cqi;
          height: 40cqi;
          position:absolute;
          left: calc(50% - 20cqi);
          top: calc(50% - 20cqi);
          fill:rgba(255, 255, 255, 0.8);
          transition: fill 0.3s ease-in-out;
        }
      }
      &:hover:has(.playButton) {
        background:rgba(0,0,0,0.3);
        .playButton {
          background-color:rgba(0,0,0,0);
          border-color:white;
          svg {
            fill:white;
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position:relative;
      object-position: 85% center;
    }
    #dot {
      position:absolute;
      inline-size:10cqi;
      block-size:10cqb;
      left: 10px;
      top: 10px;
      background:#fff;
      border-radius:100px;
      z-index:1000;
    }
  }
  #rotativeLink {
    height: calc($rightTopH);
    aspect-ratio: 1/1;
    position:absolute;
    top:calc($rightTopT - 1cqi);
    right: calc(($rightTopR - 1cqi) + ($rightTopW - $rightTopH));
    z-index:10000;
    background:#ABF;
    border-radius:100px;
  }
  #cornerText {
    width: calc($leftBottomW - 1cqi);
    height: calc($leftBottomH - 1cqi);
    position:absolute;
    bottom:calc($leftBottomB);
    left:calc($leftBottomL);
    z-index:10000;
    // background:#ABF;
    border-radius:0;
    .cornerTextContainer {
      width: 100%;
      height: 100%;
      container: cornerText / size;
      display:flex;
      flex-direction:column;
      position:absolute;
      left:0;
      top:0;
      .lbArrow {
        width:auto;
        display:inline-block;
        position:absolute;
        bottom:0;
        right:15cqi;
        cursor:pointer;
        svg{
          width: 30cqi;
          height: 25cqi;
          fill:white;
        }
      }
      span {
        margin-left:3cqi;
        color:white;
        font-size:8cqi;
        // font-family: "Anta";
        font-family:"Inter";
        &:first-child {
          margin-top:3cqi;
        }
        &:not(:last-child) {
          font-weight:300;
        }
        &:nth-last-child(1 of span) {
          margin-top:5cqb;
          font-weight:bold;
          cursor:pointer;
        }
      }
    }
  }
}
