.barGraph3D {
  width: 700px;
  height: 500px;
  margin:10vw 0 1vw 10vw;
  container: barGraph3D / size;
  .render {
    width: 100%;
    height: 100%;
    border-radius:30px;
    border:2px dashed rgb(70, 70, 221,0.5);
  }
}