.element41 {
  grid-area: el41;
  background-color:black;
  position:relative;
  .wrapper01 {
    width: 100%;
    height: 100%;
    .wrapper02 {
      width: calc(220px - 20px);
      height: calc(220px - 20px);
      margin-top:10px;
      border-radius:100px;
      overflow: hidden;
      position:relative;
      .image01 {
        @include image2;
        left:-90px;
      }
    }
  }
}