@import './mixins';

.element02 {
  grid-area: el02;

  &.darkMode0 {
    >.wrapper01 {
      background-color:rgb(40,42,45);
    }
  }

  >.wrapper01 {
    background-color:#fff;
    .image04 {
      @include image5Dark;
    }
    .wrapper02 {
      .overflowWrapper {
        .image03 {
          @include image4Dark;
        }
      }
    }
  }
}