@use 'sass:color';

.element10 {
  grid-area: el10;

  &.darkMode0 {
    background-color:rgb(40,42,45);
  }

  .wrapper01 {
    background-color:black;
    .wrapper02 {
      .image00 {
        @include imageDark;
      }
    }
  }
}

.element11 {
  grid-area: el11;
  position:relative;

  &.darkMode0 {
    .overflowWrapper01 {
      .overflowWrapper02 {
        background-color:rgb(40,42,45);
      }
    }
  }

  .overflowWrapper01 {
    .image04 {
      @include image5Dark;
    }
  }
  .wrapper01 {
    background-color:black;
    .wrapper02 {
      .image00 {
        @include imageDark;
      }
      .topRightArrowIcon {
        fill:rgba(230, 230, 230, 1);
      }
      .disk {
        &Inner {
          border:2px dashed rgba(230, 230, 230, 0.521);
        }
        &Front {
          span {
            color:rgba(230, 230, 230, 1);
          }
        }
      }
    }
  }
}

.element12 {
  grid-area: el12;
  background-color:black;
  .wrapper01 {
    .image00 {
      @include imageDark;
    }
  }
}

.element13 {
  container: element13 / size;
  background-color:black;
  .wrapper01 {
    .more {
      span {
        color: rgb(178, 240, 240);
      }
      .arrowRight {
        background-color: rgb(178, 240, 240);
        &::after, &::before {
          border-color: rgb(178, 240, 240);
        }
      }
    }
    .iconMenu {
      background-color:rgb(0,0,0,0.2);
      backdrop-filter: invert(0.2) contrast(2) blur(4px);
      .iconOption {
        border:3cqmin solid transparent;
        cursor:pointer;

        >span {
          text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        >div {
          background-color:rgba(30,30,30,0.2);
        }

        &:nth-child(1 of .iconOption) {
          background-color:color.adjust($color: color.adjust($color: #22c1c3, $saturation: -40%), $lightness: -20%);
          >span {
            filter:hue-rotate(20deg);
          }
          &:hover {
            border-color:color.adjust($color: color.adjust($color: #22c1c3, $saturation: -30%), $lightness: -20%);
          }
        }
        &:nth-child(2 of .iconOption) {
          background-color:color.adjust($color: color.adjust($color: #26d596, $saturation: -40%), $lightness: -20%);
          >span {
            filter:hue-rotate(200deg);
          }
          &:hover {
            border-color:color.adjust($color: color.adjust($color: #26d596, $saturation: -30%), $lightness: -0%);                
          }
        }
        &:nth-child(3 of .iconOption) {
          background-color:color.adjust($color: color.adjust($color: #2aeb66, $saturation: -40%), $lightness: -20%);
          >span {
            filter:hue-rotate(300deg);
          }
          &:hover {
            border-color:color.adjust($color: color.adjust($color: #2aeb66, $saturation: -30%), $lightness: -10%);
          }
        }
        &:nth-child(4 of .iconOption) {
          background-color:color.adjust($color: color.adjust($color: #2dfd3e, $saturation: -40%), $lightness: -20%);
          >span {
            filter:hue-rotate(10deg);
          }
          &:hover {
            border-color:color.adjust($color: color.adjust($color: #2dfd3e, $saturation: -30%), $lightness: -10%);
          }
        }
        //? &:hover {}
      }
    }
    .image00 {
      @include imageDark;
    }
  }
}