.element11 {
  grid-area: el11;
  position:relative;

  &.darkMode0 {
    .overflowWrapper01 {
      .overflowWrapper02 {
        background-color:rgb(40,42,45);
      }
    }
  }

  .overflowWrapper01 {
    .image04 {
      @include image5Dark;
    }
  }
  .wrapper01 {
    background-color:black;
    .wrapper02 {
      .image00 {
        @include image;
      }
      .topRightArrowIcon {
        fill:rgba(26, 26, 30, 1);
      }
      .disk {
        &Inner {
          border:2px dashed rgba(26, 26, 26, 0.521);
        }
        &Front {
          span {
            color:rgba(26, 26, 30, 1);
          }
        }
      }
    }
  }
}