@import "./mixins";
$pink: rgb(178, 178, 240);
$pink: rgb(178, 240, 240);

.element00.darkMode0 {
  >.wrapper01 {
    background-color:rgb(40,42,45);
    .topLink {
      .topLinkWrapper {
        span {
          color:$pink;
        }
        .arrowTail {
          background:$pink;
        }
        .arrowRight {
          background:$pink;
          &::after, &::before {
            border-color:$pink;
          }
        }
      }
    }
    .wrapper02 {
      .image04 {
        @include image5Dark;
      }
    }
  }
}