.element10 {
  grid-area: el10;

  &.darkMode0 {
    background-color:rgb(40,42,45);
  }

  .wrapper01 {
    background-color:black;
    .wrapper02 {
      .image00 {
        @include imageDark;
      }
    }
  }
}