$green: #167561;

.footer {
  .overflowWrapper {
    background-color:white;
  }
  .wrapper {
    background-color:$green;
    .marquee {
      &Wrapper {
        >div {
          color:rgb(240,240,245);
          font-weight:normal;
          //? &:not(.dot) {}
          //? &.dot {}
        }
      }
    }
  }
}