// background-color:#4e77ff;
$blue: #324b9e;
$green: #167561;

.header.darkModeHeader {
  div.headerLink {
    background-color:rgb(40 40 40);
    .hideConnector {
      background-color:rgb(40 40 40);
    }
    .connector {
      background-color:rgb(40 40 40);
    }
    .notification {
      background-color:$green;
      color: rgb(240,240,245);
    }
    &.yellow {
      background-color:$green;
      .hideConnector {
        background-color:$green;
      }  
      >div.headerLinkContent {
        span {
          color:rgb(240,240,245);
        }
        .triangleIcon {
          &,* {
            fill:rgb(240,240,245);
          }
        }
      }
    }
    &.yellowIcon {
      svg {
        fill: $green;
      }
    }
  }
  div>svg.bookIcon {
    fill: $green;
  }
}