$transition_bg: background-color 0.1s linear;
$transition_color: color 0.1s linear;
$transition_fill: fill 0.1s linear;
$transition_filter: filter 0.1s linear;
$transition_opacity: opacity 0.1s linear;
$transition_shadow: box-shadow 0.1s linear;
$transition_border: border-color 0.1s linear;