@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Play:wght@400;700&display=swap');
@import './mixins';

// hue-rotate(672deg)
// invert(1)
#main {
  width: 100vw;
  height: 100vh;
  container: main / size;
  background:rgb(5,5,6);
  #wrapper {
    width: 100cqi;
    height: 100cqb;
    display:grid;
    grid-template-columns: 100px 90px 120px 220px 1fr 1fr 150px;
    grid-template-rows: 70px 75px 1fr 1fr 1fr 220px 60px 20px;
    grid-template-areas: "hd00 hd00 hd00 hd00 hd00 hd00 hd00"
                         "el01 el01 el01 el01 el00 el00 el00"
                         "el01 el01 el01 el01 el10 el11 el02"
                         "el01 el01 el01 el01 el12 el11 el02"
                         "el01 el01 el01 el01 el12 el11 el20"
                         "el30 el40 el41 el42 el12 el13 el20"
                         "fo00 fo00 fo00 fo00 fo00 fo00 fo00"
                         "gp00 gp00 gp00 gp00 gp00 gp00 gp00";

    @import './components.scss';
    @import './light/header';
    @import './light/element00';
    @import './light/element01';
    @import './light/element02';
    @import './light/element10';
    @import './light/element11';
    @import './light/element12';
    @import './light/element13';
    @import './light/element20';
    @import './light/element30';
    @import './light/element40';
    @import './light/element41';
    @import './light/element42';
    @import './light/footer';
    @import './light/gap';

    .darkMode {
      @import './dark/header';
      @import './dark/element00';
      @import './dark/element01';
      @import './dark/element02';
      @import './dark/element10';
      @import './dark/element11';
      @import './dark/element12';
      @import './dark/element13';
      @import './dark/element20';
      @import './dark/element30';
      @import './dark/element40';
      @import './dark/element41';
      @import './dark/element42';
      @import './dark/footer';
      @import './dark/gap';
    }

  }
}

@container main (width < 1300px) {
  * {
    display:none;
  }
}