.main {
  width: 100cqi;
  height: 100cqb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .freq {
    width: 5px;
    border-radius: 100px;
    height: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--bg);
    box-shadow: 0 0 8px 20px var(--shadow);
  }
}
