#main {
  // width:2000px;
  // height:1200px;
  // margin:50px;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  position: relative;
  container: mainHeatmap / size;
  display: grid;
  place-items: center;
  background-color: #111;
}

.tiler {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  container: heatmap / size;
  .container {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: relative;
    container: heatmapContainer / size;
  }
}

.tile {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.tileName {
  color: white;
  font-size: 12px;
  font-family: Roboto;
}

.tileWrapper {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  display: flex;
  flex-direction: column;
  &:not(.tileWrapperChild) {
    display: grid;
    place-items: center;
  }
}
