@import '../anim';

.element02 {
  grid-area: el02;
  >.wrapper01 {
    width: 100%;
    height: 100%;
    border-radius:0 20px 0 20px;
    background-color:#fff;
    transition: $transition_bg;
    .image04 {
      @include image5;
      transition: $transition_bg;
      bottom:0;
      right:0;
    }
    .wrapper02 {
      width: calc(100% - 10px);
      margin-left:10px;
      position:relative;
      top:-10px;
      height: calc(100%);
      border-radius:0 0 0 20px;
      overflow: hidden;
      .overflowWrapper {
        width:100%;
        z-index:10;
        height: calc(100% + 75px);
        position:absolute;
        top:-75px;
        .image03 {
          @include image4;
          >img {
            transition: $transition_filter;
          }
        }
      }
    }
  }
}