.element30 {
  grid-area: el30;
  background-color:black;
  .wrapper01 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-left:10px;
    margin-top:10px;
    border-radius:100px;
    background-color:#fff;
    transition: $transition_bg;
    display:grid;
    place-items: center;
    container: element30 / size;
    .wrapper02 {
      width: calc(100% - 8px);
      height: calc(100% - 30px);
      background-color:black;
      border-radius:30px;
      display:grid;
      place-items: center;
      span {
        font-family: 'Space Grotesk';
        font-size: 2.5ex;
        color:rgb(245, 245, 253);
        text-transform: capitalize;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        svg {
          margin-top: 2cqi;
          width: 3ex;
          height: 3ex;
        }
      }
    }
  }
}