.element12 {
  grid-area: el12;
  background:black;
  .wrapper01 {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin-left:10px;
    margin-bottom:10px;
    border-radius:20px;
    display:grid;
    place-items:center;
    position:relative;
    overflow: hidden;
    .image00 {
      @include image;
      transition: $transition_bg;
      img {
        transition: $transition_filter;
      }
      left:0;
      bottom:0;
    }
  }
}