@import '../anim';

.element10 {
  grid-area: el10;
  background-color:#fff;
  transition: $transition_bg;
  .wrapper01 {
    width: 100%;
    height: 100%;
    background-color:black;
    border-radius:20px 0 0 0;
    display:flex;
    justify-content:end;
    align-items:center;
    .wrapper02 {
      width: calc(100% - 10px);
      height: calc(100% - 20px);
      border-radius:20px;
      position:relative;
      overflow: hidden;
      .image00 {
        @include image;
        transition: $transition_bg;
        img {
          transition: $transition_filter;
        }
        left:0;
        top:0;
      }
    }
  }
}

.element11 {
  grid-area: el11;
  position:relative;
  background-color:#fff;
  transition: $transition_bg;
  .overflowWrapper01 {
    position:absolute;
    top:-10px;
    left:0;
    width: calc(100% + 10px);
    height: 50px;
    z-index:1000;
    overflow: hidden;
    .image04 {
      @include image5;
      transition: $transition_bg;
      bottom:0;
      right:0;
    }
    .overflowWrapper02 {
      position:absolute;
      width: 100%;
      height: 100%;
      background-color:#FFF;
      border-radius:0 25px 0 0;
    }
  }
  .wrapper01 {
    width: 100%;
    height: 100%;
    position:relative;
    z-index:2000;
    background-color:black;
    border-radius:0 20px 0 0;
    display:grid;
    place-items:center;
    .wrapper02 {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border-radius:20px;
      position:relative;
      overflow: hidden;
      container: element01 / size;
      .image00 {
        @include image;
        right:0;
        top:0;
        transition: $transition_bg;
        img {
          transition: $transition_filter;
        }
      }
      .topRightArrowIcon {
        z-index:15;
        position:absolute;
        top:5cqi;
        right:5cqi;
        width: 7cqi;
        height: 7cqi;
        fill:rgba(26, 26, 30, 1);
        transition: $transition_fill;
      }
      .disk {
        width: 75cqmin;
        height: 75cqmin;
        position:absolute;
        top:calc(50% - 37.5cqi);
        left:calc(50% - 37.5cqi);
        z-index:15;
        border-radius:1000px;
        &Inner {
          position:absolute;
          border:2px dashed rgba(26, 26, 26, 0.521);
          transition: $transition_border;
          width: 100%;
          height: 100%;
          border-radius:1000px;
          animation: rotate 60s linear infinite;
        }
        &Front {
          display:grid;
          position:absolute;
          width: 100%;
          height: 100%;
          place-items:center;
          span {
            font-family: 'Space Grotesk';
            color:rgba(26, 26, 30, 1);
            transition: $transition_color;
            font-size: 3ex;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.element12 {
  grid-area: el12;
  background:black;
  .wrapper01 {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin-left:10px;
    margin-bottom:10px;
    border-radius:20px;
    display:grid;
    place-items:center;
    position:relative;
    overflow: hidden;
    .image00 {
      @include image;
      transition: $transition_bg;
      img {
        transition: $transition_filter;
      }
      left:0;
      bottom:0;
    }
  }
}

.element13 {
  grid-area: el13;
  container: element13 / size;
  background:black;
  .wrapper01 {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    margin-left:10px;
    margin-bottom:10px;
    border-radius:20px;
    display:grid;
    place-content: center;
    place-items:center;
    position:relative;
    overflow: hidden;
    .more {
      z-index:1000;
      margin-top:10cqmin;
      display:flex;
      justify-content:center;
      align-items:center;
      gap: 5cqmin;
      span {
        font-family: 'Space Grotesk';
        font-size: 2.5ex;
        color:rgba(15,15,20, 1);
        text-transform: capitalize;
        transition: $transition_color;
      }
      .arrowRight {
        transition: $transition_bg;
        &::after, &::before {
          transition: $transition_border;
        }
      }
    }
    .iconMenu {
      z-index:1000;
      display:flex;
      justify-content:center;
      align-items:center;
      background-color:rgb(255,255,255,0.2);
      backdrop-filter: blur(5px);
      transition:$transition_bg, $transition_drop;
      gap: 3cqmin;
      padding: 3cqmin;
      border-radius:100px;
      .iconOption {
        width: 25cqmin;
        height: 25cqmin;
        border-radius:100px;
        transition:all 0.2s linear;
        border:3cqmin solid transparent;
        cursor:pointer;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr;
        place-items:center;
        grid-template-areas: "icon";

        >span {
          grid-area: icon;
          font-size: 3.5ex;
          opacity:0;
          transition:all 0.2s linear;
          position:relative;
          top: -1cqmin;
          text-shadow: 0 0 10px rgba(255,255,255,0.5);
        }
        >div {
          grid-area: icon;
          width: 5cqmin;
          height: 10cqmin;
          border-radius:100px;
          background-color:rgba(255,255,255,0.2);
          display:grid;
          place-items:center;
          opacity:1;
          transition:all 0.2s linear;
        }

        &:hover {
          >span {
            opacity:1;
          }
          >div {
            opacity:0;
          }
        }


        &:nth-child(1 of .iconOption) {
          background-color:desaturate( #22c1c3, 30%);
          transition:all 0.2s linear, $transition_bg;
          >span {
            filter:hue-rotate(20deg);
          }
          &:hover {
            border-color:lighten(desaturate( #22c1c3, 30%), 20%);
            transition: $transition_border;
          }
        }
        &:nth-child(2 of .iconOption) {
          // background-color:#26d596;
          background-color:desaturate( #26d596, 30%);
          transition:all 0.2s linear, $transition_bg;
          >span {
            filter:hue-rotate(200deg);
          }
          &:hover {
            border-color:lighten(desaturate( #26d596, 30%), 10%);     
            transition: $transition_border;
          }
        }
        &:nth-child(3 of .iconOption) {
          // background-color:#2aeb66;
          background-color:desaturate( #2aeb66, 30%);
          transition:all 0.2s linear, $transition_bg;
          >span {
            filter:hue-rotate(300deg);
          }
          &:hover {
            border-color:lighten(desaturate( #2aeb66, 30%), 10%);
            transition: $transition_border;
          }
        }
        &:nth-child(4 of .iconOption) {
          // background-color:#2dfd3e;
          background-color:desaturate( #2dfd3e, 30%);
          transition:all 0.2s linear, $transition_bg;
          >span {
            filter:hue-rotate(10deg);
          }
          &:hover {
            border-color:lighten(desaturate( #2dfd3e, 30%), 10%);
            transition: $transition_border;
          }
        }
        &:hover {
          width: 35cqmin;
          // background: rgb(29, 99, 203);
        }
      }
    }
    .image00 {
      @include image;
      transition: $transition_bg;
      img {
        transition: $transition_filter;
      }
      right:0;
      bottom:0;
    }
  }
}